:host /deep/ {

  .filter-input {
    .mat-form-field-underline {
      display: none !important;
    }

    .mat-form-field-prefix {
      padding-right: 20px;
      top: 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-flex {
      background-color: #f3f3f3;
      padding: 2px 15px;
    }
  }

  .newRow {
    .mat-input-element {
      padding: 5px;
      background-color: #ececec;
    }
  }

  .mat-select-placeholder {
    color: rgb(87, 87, 87) !important;
  }

  ::placeholder {
    color: #cccccc;
    font-size: 0.8em;
  }

  .ngx-datatable.material .datatable-body .datatable-row-detail {
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
  }

  .addNewRow-actions {
    position: absolute;
    right: 20px;
  }
}
