<sb-grid-filter [rows]="rows" (rowsUpdate)="filterCallback($event)"></sb-grid-filter>
<ngx-datatable #table class='material expandable' [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
  <ngx-datatable-column name="ItemNo#">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

      <a href="javascript:void(0)" class="dt-arrow" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
        *ngIf="row.children && row.children.length > 0">
        <fa-icon [icon]="!expanded ? faCaretRight: faCaretDown"></fa-icon>
      </a>
      <!-- <span (click)="addNewBtnClicked(row)" *ngIf="(row.children && row.children.length <= 0)">
        <i class="material-icons green"> add_circle </i>
      </span> -->
      {{row?.itemPartner?.item?.itemNo}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="description" prop="itemPartner.item.itemDescription" editable="true">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <span [matTooltip]="row?.itemPartner?.item?.itemDescription" matTooltipPosition="above" matTooltipClass="tooltip">
        {{row?.itemPartner?.item?.itemDescription}}
      </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Type" prop="itemPartner.item.itemType" editable="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="Assembler" editable="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px">
        <aside fxFlex>
          <mat-select [placeholder]="'Please choose'" [(ngModel)]="row.itemAssemblerId"
            (selectionChange)="onItemChange($event)" *ngIf="(row.assemblers && row.assemblers.length > 0)">
            <mat-option *ngFor="let option of row.assemblers" [value]="option.itemPartnerId">
              {{ option?.partner?.partnerCode }}
            </mat-option>
          </mat-select>
        </aside>
        <aside fxFlex="30px">
          <span (click)="addNewBtnClicked(row)"
            *ngIf="((row.assemblers && row.assemblers.length > 0) && (row.children && row.children.length == 0))">
            <i class="material-icons green"> add_circle </i>
          </span>
        </aside>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="quantity" editable="true"></ngx-datatable-column>
  <ngx-datatable-column prop="release" editable="true"></ngx-datatable-column>
  <ngx-datatable-column name="Created" editable="true">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <span *ngIf="!isNewRowEnabled">{{ row.createdAt | dateFormat}}</span>
      <span *ngIf="isNewRowEnabled">{{ row.createdAt }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Status" editable="true">
    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      {{((row.status == 'Printed' && role == 'admin') || (row.status == 'PreReleased' && role == 'printer'))? 'Pending Release' : row.status}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="false">
    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <div class="row-action-btn"
        *ngIf="row.children && row.children.length == 0 && ((row.status === OrdersState.PRINTED && role == 'admin') || (row.status === 'PreReleased' && role == 'printer'))">
        <span
          (click)="updateOrderStatus(row, (row.status == 'PreReleased' && role == 'printer') ? 'Released' : 'PreReleased')"
          matTooltip="Release to Assemblers" matTooltipPosition="above" matTooltipClass="tooltip">
          <fa-icon [icon]="faShare" [ngClass]="'fa-icon fs-16'"></fa-icon>
        </span>


      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-row-detail #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template let-rowIndex="rowIndex">
      <section *ngIf="row.children && row.children.length > 0" class="row-detail"
        [ngStyle]="{'height': row.childrenHeight+'px'}">
        <sb-release-sub-orders [row]="row" [table]="table" (rowsUpdate)="rowsUpdate($event)"
          (adjustCols)="adjustCols($event, row)"></sb-release-sub-orders>
      </section>
      <section *ngIf="!(row.children && row.children.length > 0)" class="row-detail"
        [ngStyle]="{'height': row.childrenHeight+'px'}">
        <sb-release-new-order [isAddBtnClicked]="isNewRowEnabled" [rows]="rows" [row]="row"
          (adjustCols)="adjustCols($event, row)">
        </sb-release-new-order>
      </section>
    </ng-template>
  </ngx-datatable-row-detail>
</ngx-datatable>
