<sb-grid-filter [rows]="rows" [totalRows]="originalRows" (rowsUpdate)="filterCallback($event)"></sb-grid-filter>

<ngx-datatable #table class='material expandable' [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' (page)="paginationCallback($event)">

  <ngx-datatable-column name="ItemNo#" [flexGrow]="1.2">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a href="javascript:void(0)" class="dt-arrow" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
        *ngIf="row.children && row.children.length > 0">
        <fa-icon [icon]="!expanded ? faCaretRight: faCaretDown"></fa-icon>
      </a> {{row?.itemPartner?.item?.itemNo}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="description" [cellClass]="'ellipsis'" [flexGrow]="2">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <span [matTooltip]="row?.itemPartner?.item?.itemDescription" matTooltipPosition="above" matTooltipClass="tooltip">
        {{row?.itemPartner?.item?.itemDescription}}
      </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Type" prop="itemPartner.item.itemType" editable="true" [flexGrow]="1">
  </ngx-datatable-column>
  <ngx-datatable-column name="Partner" prop="itemPartner.partner.partnerCode" editable="true" [flexGrow]="1">
  </ngx-datatable-column>
  <ngx-datatable-column prop="recieved" editable="true" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="sflyWip" editable="true" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="collated" editable="true" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column name="waste" prop="waste" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <input class="form-control" #wasteVal autofocus (input)="row.waste = wasteVal.value" *ngIf="row.editable"
        type="text" [value]="value" />
      <span *ngIf="!row.editable">{{row.waste}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="overAge" name="Overage" editable="true" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="completed" editable="true" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="sfOnHand" editable="true" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column prop="pOnHand" name="P onhand" editable="true" [flexGrow]="1"></ngx-datatable-column>
  <ngx-datatable-column name="Updated At" editable="true" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <span *ngIf="!isNewRowEnabled">{{ row.updatedAt | dateFormat}}</span>
      <span *ngIf="isNewRowEnabled">{{ row.updatedAt | dateFormat }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="false" [flexGrow]="1">
    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <div class="row-action-btn" *ngIf="(row.children && row.children.length < 1) && !isNewRowEnabled">
        <span *ngIf="!row.editable" fxLayout="row" fxLayoutGap="5px">
          <span (click)="row.editable = true" matTooltip="Edit Item" matTooltipPosition="above"
            matTooltipClass="tooltip">
            <fa-icon [icon]="faPencilAlt" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
          <span (click)="trashInventoryItem(row)" matTooltip="Delete Item" matTooltipPosition="above"
            matTooltipClass="tooltip">
            <fa-icon [icon]="faTrashAlt" [ngClass]="'fa-icon  fs-16'"></fa-icon>
          </span>
        </span>
        <span *ngIf="row.editable" fxLayout="row" fxLayoutGap="5px">
          <span (click)="row.editable = false">
            <fa-icon [icon]="faWindowClose" [ngClass]="'fa-icon text-red fs-24'"></fa-icon>
          </span>
          <span (click)="updateEditedValue(row)">
            <fa-icon [icon]="faCheckSquare" [ngClass]="'fa-icon text-blue fs-24'"></fa-icon>
          </span>
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-row-detail #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <section *ngIf="row.children && row.children.length > 0" class="row-detail"
        [ngStyle]="{'height': row.childrenHeight+'px'}">
        <sb-inventory-sub-orders [row]="row" [table]="table"></sb-inventory-sub-orders>
      </section>
      <section *ngIf="!(row.children && row.children.length > 0)" class="row-detail"
        [ngStyle]="{'height': row.childrenHeight+'px'}">
        <sb-inventory-new-order [isAddBtnClicked]="isNewRowEnabled" [rows]="rows" [row]="row"
          (onSave)="onSaveRowsUpdate($event)" (adjustCols)="adjustCols($event)">
        </sb-inventory-new-order>
      </section>
    </ng-template>
  </ngx-datatable-row-detail>
</ngx-datatable>
