<div class="mtb-8" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">


  <mat-form-field fxFlex="30" class="filter-input" [floatLabel]="'never'">
    <input matInput placeholder="Search Filter By" [(ngModel)]="filterVal">

    <mat-icon matPrefix class="search-icon">search</mat-icon>
    <button mat-button *ngIf="filterVal" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div fxFlex>
    <button class="apply-btn" mat-raised-button color="accent" (click)='updateFilter(filterVal)'>Apply</button>
  </div>
  <div fxFlex fxFlexAlign="center" class="text-right">
    <button mat-button> <i class="material-icons"> arrow_downward </i> Import</button>
    <button mat-button> <i class="material-icons"> arrow_upward </i> Export </button>
  </div>
</div>
<!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Search filter by'
    (keyup)='updateFilter($event)' /> -->
<ngx-datatable #table class='material expandable' [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' [rowClass]="getRowClass">

  <ngx-datatable-row-detail [rowHeight]="newRowHeight" #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <section *ngIf="row.children && row.children.length > 0">
        <div>
          <div fxLayout="row" class="newRow mtb-5" fxLayoutGap="0px" *ngFor="let row of row.children">
            <span> </span>
            <span> {{row.id}}
            </span>
            <span class="ellipsis description">{{row.description}}
            </span>
            <span>{{row.type}}
            </span>
            <span>{{row.partner}}
            </span>
            <span>{{row.nns}} </span>
            <span>{{row.ss}}</span>
            <span>{{row.dssd}} </span>
            <span>{{row.partner}} </span>
            <span>{{row.partner}} </span>
            <span> {{row.partner}}</span>
            <span> {{row.partner}}</span>
            <span> </span>
            <span> </span>
          </div>
        </div>
        <!-- <ngx-datatable-column>
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
              *ngIf="row.children && row.children.length > 0">
            </a>
          </ng-template>
        </ngx-datatable-column> -->

      </section>
      <section class="new_section" *ngIf="!row.children">
        <div class="row-ab-actions">
          <span fxFlex fxLayout="row" fxLayoutGap="10px">
            <i class="material-icons cancel-ic" (click)="cancelNewInventory()">
              cancel
            </i>
            <i class="material-icons done-ic" (click)="addRowsToInventory()">
              check_circle
            </i>
          </span>
        </div>
        <div fxLayout="row" class="newRow mtb-5" fxLayoutGap="5px" *ngFor="let addNewRow of addedRows">
          <span fxFlex="112px">
            <mat-select [(value)]="addNewRow.description" placeholder="Item#">
              <mat-option value="PR1920001">PR1920001</mat-option>
              <mat-option value="PR1920002">PR1920001</mat-option>
              <mat-option value="PR1920003">PR1920003</mat-option>
            </mat-select>
          </span>
          <span fxFlex="220px" class="description">
            <mat-select [(value)]="addNewRow.description" placeholder="Description">
              <mat-option value="Signature">Signature. Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
              <mat-option value="Planner">Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
              <mat-option value="Core">Core HIGH.5x8.BLOCK.ENG..</mat-option>
            </mat-select>
          </span>
          <span fxFlex="100px">
            EN
          </span>
          <span fxFlex="100px">
            <mat-select [(value)]="addNewRow.description" placeholder="Partner">
              <mat-option value="HEU">HEU</mat-option>
              <mat-option value="BNG">BNG</mat-option>
              <mat-option value="LTX">LTX</mat-option>
            </mat-select>
          </span>
          <span fxFlex="50px"> </span>
          <div fxFlex="112px" fxLayout="row" fxLayoutGap="10px">
            <i class="material-icons red" (click)="removeCurrentRow(addNewRow)">
              remove_circle
            </i>
            <i class="material-icons green" (click)="addAnotherRow()">
              add_circle </i>

          </div>
          <span fxFlex="112px"> </span>
          <span fxFlex="112px"> </span>
          <span fxFlex="112px"> </span>
        </div>

      </section>
    </ng-template>
  </ngx-datatable-row-detail>


  <ngx-datatable-column>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a href="javascript:void(0)" class="dt-arrow" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
        *ngIf="row.children && row.children.length > 0">
        <fa-icon [icon]="!expanded ? faCaretRight: faCaretDown"></fa-icon>
      </a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="itemNo"></ngx-datatable-column>
  <ngx-datatable-column prop="description" editable="true" headerClass="description"
    [cellClass]="'description ellipsis'">
  </ngx-datatable-column>
  <ngx-datatable-column prop="type" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column prop="partnerType" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column prop="received" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column prop="sflywip" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column prop="collated" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column name="waste" prop="waste" [resizeable]="false">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <input autofocus *ngIf="isEditable[rowIndex]" type="text" [value]="value" />
      <span *ngIf="!isEditable[rowIndex]">{{row.waste}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="average" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column prop="completed" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column prop="sfonhand" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column prop="ponhand" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column prop="updated" editable="true" [resizeable]="false"></ngx-datatable-column>
  <!-- <ngx-datatable-column *ngFor="let col of cols" [name]="col.name" [prop]="col.prop" [resizeable]="false"
    [cellClass]="col.prop">
  </ngx-datatable-column> -->
  <ngx-datatable-column>
    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <div class="row-action-btn">
        <span *ngIf="!isEditable[rowIndex]" fxLayout="row" fxLayoutGap="20px">
          <span (click)="updateRowValue($event, rowIndex)">
            <fa-icon [icon]="faPencilAlt" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
          <fa-icon [icon]="faTrashAlt" [ngClass]="'fa-icon  fs-16'"></fa-icon>
        </span>
        <span *ngIf="isEditable[rowIndex]" fxLayout="row" fxLayoutGap="10px">
          <span (click)="this.isEditable[rowIndex] = !this.isEditable[rowIndex]">
            <fa-icon [icon]="faWindowClose" [ngClass]="'fa-icon text-red fs-24'"></fa-icon>
          </span>
          <span (click)="this.isEditable[rowIndex] = !this.isEditable[rowIndex]">
            <fa-icon [icon]="faCheckSquare" [ngClass]="'fa-icon text-blue fs-24'"></fa-icon>
          </span>
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
