<div class="mtb-8" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">


  <mat-form-field fxFlex="30" class="filter-input" [floatLabel]="'never'">
    <input matInput placeholder="Search Filter By" [(ngModel)]="filterVal">

    <mat-icon matPrefix class="search-icon">search</mat-icon>
    <button mat-button *ngIf="filterVal" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div fxFlex>
    <button class="apply-btn" mat-raised-button color="accent" (click)='updateFilter(filterVal)'>Apply</button>
  </div>
  <div fxFlex fxFlexAlign="center" class="text-right">

    <button mat-button>
      <i class="material-icons"> arrow_downward </i>
      Import
    </button>

    <button mat-button>
      <i class="material-icons"> arrow_upward </i>
      Export
    </button>
  </div>
</div>
<!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Search filter by'
    (keyup)='updateFilter($event)' /> -->
<ngx-datatable #table class='material expandable' [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' [rowClass]="getRowClass">

  <ngx-datatable-row-detail [rowHeight]="newRowHeight" #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <div class="row-ab-actions">
        <span fxFlex fxLayout="row" fxLayoutGap="10px">
          <i class="material-icons cancel-ic" (click)="cancelNewInventory()">
            cancel
          </i>
          <i class="material-icons done-ic" (click)="addRowsToInventory()">
            check_circle
          </i>
        </span>
      </div>
      <div fxLayout="row" class="newRow mtb-5" fxLayoutGap="5px" *ngFor="let addNewRow of addedRows">

        <span fxFlex="112px"> </span>
        <span fxFlex="112px">
          <mat-select [(value)]="addNewRow.description" placeholder="Description">
            <mat-option value="Signature">Signature. Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
            <mat-option value="Planner">Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
            <mat-option value="Core">Core HIGH.5x8.BLOCK.ENG..</mat-option>
          </mat-select>
        </span>
        <span fxFlex="112px">
          <input matInput placeholder="Assembly" [name]="addNewRow.assemblyPartner"
            [(ngModel)]="addNewRow.assemblyPartner">
        </span>
        <span fxFlex="112px">
          <input matInput placeholder="Received" [name]="addNewRow.received" [(ngModel)]="addNewRow.received">
        </span>
        <span fxFlex="112px">
          <input matInput placeholder="Committed" [name]="addNewRow.committed" [(ngModel)]="addNewRow.committed">
        </span>
        <div fxFlex="112px" fxLayout="row" fxLayoutGap="20px">
          <i class="material-icons" (click)="removeCurrentRow(addNewRow)">
            remove_circle
          </i>
          <i class="material-icons" (click)="addAnotherRow()">
            add_circle </i>

        </div>
        <span fxFlex="112px"> </span>
      </div>

      <!-- <ngx-datatable-column prop="id">
        <ng-template let-column="column" ngx-datatable-header-template>
          <mat-select placeholder="Description">
            <mat-option value="Signature">Signature. Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
            <mat-option value="Planner">Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
            <mat-option value="Core">Core HIGH.5x8.BLOCK.ENG..</mat-option>
          </mat-select>
        </ng-template>

      </ngx-datatable-column>

      <ngx-datatable-column prop="description" editable="true">
        <mat-select placeholder="Description">
          <mat-option value="Signature">Signature. Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
          <mat-option value="Planner">Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
          <mat-option value="Core">Core HIGH.5x8.BLOCK.ENG..</mat-option>
        </mat-select>
      </ngx-datatable-column>
      <ngx-datatable-column prop="type" editable="true">
        <mat-select placeholder="Description">
          <mat-option value="Signature">Signature. Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
          <mat-option value="Planner">Planner Core HIGH.5x8.BLOCK.ENG..</mat-option>
          <mat-option value="Core">Core HIGH.5x8.BLOCK.ENG..</mat-option>
        </mat-select>
      </ngx-datatable-column>
      <ngx-datatable-column prop="partner" editable="true"></ngx-datatable-column>
      <ngx-datatable-column prop="received" editable="true"></ngx-datatable-column>
      <ngx-datatable-column prop="sflywip" editable="true"></ngx-datatable-column>
      <ngx-datatable-column prop="collated" editable="true"></ngx-datatable-column>
      <ngx-datatable-column prop="waste" editable="true"></ngx-datatable-column>
      <ngx-datatable-column prop="average" editable="true"></ngx-datatable-column>
      <ngx-datatable-column prop="completed" editable="true"></ngx-datatable-column>
      <ngx-datatable-column prop="sfonhand" editable="true"></ngx-datatable-column>
      <ngx-datatable-column prop="ponhand" editable="true"></ngx-datatable-column>
      <ngx-datatable-column prop="updated" editable="true"></ngx-datatable-column> -->

    </ng-template>
  </ngx-datatable-row-detail>




  <ngx-datatable-column *ngFor="let col of cols" [name]="col.name" [prop]="col.prop" [resizeable]="false" [cellClass]="col.prop" >
  </ngx-datatable-column>

</ngx-datatable>
