:host /deep/{
  .red{
    color:#ff0000;
  }
  .green{
    color:rgb(0, 216, 47);
  }
  .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon{
    margin-top: -15px;
  }
  .sortable .sort-btn:before {
    font-family: data-table;
        content: "c";
    }
    .sortable .sort-btn.datatable-icon-down:before {
        content: "f";
    }
    .sortable .sort-btn.datatable-icon-up:before {
        content: "e";
    }
    .description .datatable-body-cell-label{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .ngx-datatable .datatable-header .datatable-header-cell{
      &:nth-child(1) .sort-btn{
        &:before{
          content: ''
        }
        &:after{
          content: ''
        }
      }
    }
    .newRow{
      width: 99%;
      overflow: hidden;
    }
  /** cell styling **/
  .newRow > span{
      // width:95px !important;
      font-size: 14px !important;
      box-sizing: border-box !important;
    &:nth-child(1) {
      width:50px !important;
    }
  }
  .newRow > span.description{
    width:227px !important;
  }
  // .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell,
  // .ngx-datatable.material .datatable-header .datatable-header-cell{
  //   width:100px !important;
  // }
  .ngx-datatable.material .datatable-body {
    // .datatable-body-cell:nth-child(1){
    //   width:50px !important;
    // }
    // .datatable-body-cell.description{
    //   width:250px !important
    // }
    // .datatable-body-cell:nth-child(2){
    //   width:150px !important;
    // }
    // .datatable-body-cell.description{
    //   width: 250px !important;
    // }
  }
  .ngx-datatable.material .datatable-header {
    // .datatable-header-cell:nth-child(1){
    //   width:50px !important;
    // }
    // .datatable-header-cell.description{
    //   width:250px !important
    // }
    // .datatable-header-cell:nth-child(2){
    //   width:150px !important;
    // }
    // .datatable-header-cell:nth-child(3){
    //   width:250px !important;
    // }
  }
  .form-control{
    width:90%;
    box-sizing: border-box;
  }
  .dt-arrow{
    color: #333333;;
  }
  .newRow > span{
      padding:.9rem 1.2rem;
      box-sizing: content-box;
    }
  .ngx-datatable.material .datatable-body .datatable-row-detail{
    padding: 0px;
  }
  .add-row-section > span{
    padding: .2rem 5px .2rem 0rem;
  }
  .add-row-section .mat-select{
    width: 90%;
  }
  .search-icon{
    top: -5px;
    position: relative;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix{
    padding:3px 0px;
    padding-bottom: 0px;
  }
  .mat-input-element{
    position: relative;
    top:-5px;
  }
  .mat-form-field-label{
    color: #333333;
    margin-top:-10px;
  }
  .apply-btn{
    border-radius: 4px;
    border: solid 1px #c6c7c9;
    background-color: rgba(255, 255, 255, 0.05) !important;
    box-shadow: none;
    &:hover{
      background-color: #c6c7c9 !important;
    }
  }

  .row-action-btn{
    position: relative;
    top: -4px;
    .fa-icon{
      &:hover{
        color:rgb(250, 50, 0);
      }
      margin-bottom: -10px;
      cursor: pointer;
    }
  }
}
