.done-ic {
  color: rgb(0, 185, 40);
}

.push-print-ic {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  color: #F05323;
}
:host /deep/{
  .mat-select-placeholder{
    color: #333;
    font-size: 14px;
  }
}
