:host /deep/{

  .datatable-header-cell-label{
    text-transform: capitalize;
    font-size: 1.1em;
  }

  .container .content-area .mat-tab-label-content{
    font-weight: 600;
  }
  .ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }
}
