<div fxLayout="row" fxLayoutAlign="start center" class="border-bottom">
  <h2 class="fw-300 h-title" fxFlex>On-hand Inventory</h2>
  <button mat-flat-button color="primary" fxFlex="100px" fxFlexAlign="center"
    (click)="toggleExpandRow(this.rows[0])">Add
    New</button>
</div>
<sb-inventory-data-grid [cols]="columns" [rows]="rows" [newBtnClicked]="isAddNewBtnClicked" (isAddBtnClicked)="isAddBtnClicked()"></sb-inventory-data-grid>
<!-- <sb-data-grid [cols]="columns" [rows]="rows" [newBtnClicked]="isAddNewBtnClicked" (isAddBtnClicked)="isAddBtnClicked()">
</sb-data-grid> -->
