:host /deep/ {


  .mat-select-placeholder {
    color: rgb(87, 87, 87) !important;
  }

  ::placeholder {
    color: #cccccc;
    font-size: 0.8em;
  }


  .plus-ic,
  .remove-ic {
    cursor: pointer;
    color: #008638;

    &:hover {
      color: #00ff4c;
    }
  }

  .remove-ic {
    color: #e21a00;

    &:hover {
      color: #ff0000;
    }

  }

  .h-title{
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: -0.3px;
    color: #58595b;
    margin-top:0px;
    margin-bottom:10px;
  }
}
