:host /deep/ {

  .filter-input {
    .mat-form-field-underline {
      display: none !important;
    }

    .mat-form-field-prefix {
      padding-right: 20px;
      top: 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-flex {
      background-color: #f3f3f3;
      padding: 2px 15px;
    }
  }

  .newRow {
    .mat-input-element {
      padding: 5px;
      background-color: #ececec;
    }
  }

  .mat-select-placeholder {
    color: rgb(87, 87, 87) !important;
  }

  ::placeholder {
    color: #cccccc;
    font-size: 0.8em;
  }


  .plus-ic,
  .remove-ic {
    cursor: pointer;
    color: #008638;

    &:hover {
      color: #00ff4c;
    }
  }

  .remove-ic {
    color: #e21a00;

    &:hover {
      color: #ff0000;
    }

  }

  .h-title{
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: -0.3px;
    color: #58595b;
    margin-top:0px;
    margin-bottom:10px;
  }
}
