<sb-grid-filter [rows]="rows" (rowsUpdate)="filterCallback($event)"></sb-grid-filter>
<!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Search filter by'
    (keyup)='updateFilter($event)' /> -->
<ngx-datatable class='material expandable' [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' (page)="paginationCallback($event)">

  <ngx-datatable-column name="Item #">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a href="javascript:void(0)" class="dt-arrow" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
        *ngIf="row.children && row.children.length > 0">
        <fa-icon [icon]="!expanded ? faCaretRight: faCaretDown"></fa-icon>
      </a> {{row?.itemPartner?.item?.itemNo}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Description" prop="itemPartner.item.itemDescription" editable="true"
    [cellClass]="'ellipsis'" [flexGrow]="2" [ngStyle]="{width: '800px'}">
  </ngx-datatable-column>
  <ngx-datatable-column name="Type" prop="itemPartner.item.itemType" editable="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="Printers" prop="itemPartner.partner.partnerCode" editable="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="Quantity" prop="quantity" editable="true"></ngx-datatable-column>
  <ngx-datatable-column name="PO #" prop="poNum" editable="true"></ngx-datatable-column>
  <ngx-datatable-column name="Job #" prop="jobNum" editable="true"></ngx-datatable-column>

  <ngx-datatable-column name="createdAt" editable="true">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <span *ngIf="!isNewRowEnabled">{{ row.createdAt | dateFormat}}</span>
      <span *ngIf="isNewRowEnabled">{{ row.createdAt }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="status" editable="true"></ngx-datatable-column>
  <!-- <ngx-datatable-column *ngFor="let col of cols" [name]="col.name" [prop]="col.prop" [resizeable]="false"
    [cellClass]="col.prop">
  </ngx-datatable-column> -->
  <ngx-datatable-column [sortable]="false">
    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <div *ngIf="row.children && row.children.length < 1">

        <span *ngIf="row.status === 'New'">
          <span class="icon mr-8" (click)="updateOrderToCancelStatus(row?.printOrderId)" matTooltip="Cancel Order"
            matTooltipPosition="above" matTooltipClass="tooltip">
            <fa-icon [icon]="faBan" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
          <span class="icon mr-8" (click)="updateOrderToPrintStatus(row?.itemPartner?.item?.itemId)"
            matTooltip="Push to Printer" matTooltipPosition="above" matTooltipClass="tooltip">
            <fa-icon [icon]="faShare" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
        </span>
        <span *ngIf="row.status === 'Ordered'  || row.status === 'Push2Print'">
          <span class="" (click)="updateOrderStatus(row?.itemPartner?.item?.itemId, 'Printed')"
            matTooltip="Mark as Printed" matTooltipPosition="above" matTooltipClass="tooltip">
            <fa-icon [icon]="faPrint" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
        </span>
        <span *ngIf="row.status === 'Printed'">
          <span class="" matTooltip="Mark as Printed" matTooltipPosition="above" matTooltipClass="tooltip">
            <fa-icon [icon]="faPrint" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-row-detail #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <section *ngIf="row.children && row.children.length > 0" class="row-detail"
        [ngStyle]="{'height': row.childrenHeight+'px'}">
        <sb-print-sub-orders [row]="row" [table]="table"></sb-print-sub-orders>
      </section>
      <section *ngIf="!(row.children && row.children.length > 0)" class="row-detail"
        [ngStyle]="{'height': row.childrenHeight+'px'}">
        <sb-print-new-order [isAddBtnClicked]="isNewRowEnabled" [rows]="rows" [row]="row" (onSave)="onSaveRowsUpdate($event)"
          (adjustCols)="adjustCols($event)">
        </sb-print-new-order>
      </section>
    </ng-template>
  </ngx-datatable-row-detail>




</ngx-datatable>
