.print-actions {
  i {
    cursor: pointer;

    &:hover {
      color: #F05323;
    }
  }

  .remove-ic {
    color: #333;
  }

  .plus-ic {
    color: rgb(0, 190, 79);
  }

  .push-print-ic {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

  }
}
