@import '../../themes/shutter-business-varibles';

:host /deep/ {


  .datatable-header{ height: 50px !important; display: flex !important; }
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #EBEDF0;
  }
  .ngx-datatable .datatable-header .datatable-row-center {
    border-bottom: 1px solid #929497;
    border-top: 1px solid #929497;
  }
  .ngx-datatable.material{
    box-shadow: none;
  }
  .mat-flat-button.mat-primary {
    background-color: $primary;
  }

  .mat-raised-button.mat-accent {
    background-color: #f0f0f0;
  }

  .mat-table {
    background: #ffffff;

    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
      color: #333333;
    }


    tr.mat-header-row {
      background-color: #ffffff;
    }

    mat-footer-row,
    mat-header-row,
    mat-row,
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
      border-bottom-color: rgba(47, 47, 47, 0.12);
    }
  }

  .mat-tab-body {
    min-height: 400px;
  }

  .mat-tab-body-content {
    padding: 10px;
    box-sizing: border-box;
  }

  .container {
    width: 1800px;
    margin: auto;
    min-height: 100%;
    overflow: auto;


    .header {
      background-color: #fff;
      border-bottom: 1px solid #ccc;
    }

    .footer {
      color: #ccc;
    }

    .content-area {
      background-color: #ffffff;

      .mat-tab-list .mat-tab-labels {
        border-bottom: 1px solid $primary;
      }

      .mat-tab-label-content {
        font-size: 16px;
      }

      .mat-tab-group.mat-primary .mat-ink-bar {
        height: 5px;
        background-color: $primary;
      }
    }

  }
}
