<div class="container" fxLayout="column" fxLayoutAlign="stretch"
  [ngClass]="(windowWidth > 1580) ? 'desktop': (windowWidth >= 768 && windowWidth <= 1580) ? 'laptop' : 'mobile'"
  [style.width.px]="(windowWidth > 1580) ?( windowWidth - 200) : windowWidth-80">
  <header fxFlex="80px" class="header">
    <sb-toolbar></sb-toolbar>
  </header>
  <section class="content-area  mt-5" fxFlex>
    <mat-tab-group (selectedTabChange)="selectedTab($event)">
      <mat-tab label="Inventory" *ngIf="(isAdmin || isAssembler) && !isPrinter">
        <div *ngIf="tabIndex === 0">
          <sb-inventory></sb-inventory>
        </div>
      </mat-tab>
      <mat-tab label="Print Orders" *ngIf="(isAdmin || isPrinter) && !isAssembler">
        <div *ngIf="tabIndex == ((isAdmin) ? 1 : 0)">
          <sb-print-orders></sb-print-orders>
        </div>
      </mat-tab>
      <mat-tab label="Releases" *ngIf="(isAdmin || isPrinter || isAssembler)">
        <div *ngIf="tabIndex === ((isAdmin) ? 2 : 1)">
          <sb-releases></sb-releases>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
  <footer fxFlex="50px" class="footer">
    <sb-footer></sb-footer>
  </footer>
</div>
