@import '../../themes/shutter-business-varibles';

:host /deep/ {

  .filter-input {
    .mat-form-field-underline {
      display: none !important;
    }

    .mat-form-field-prefix {
      padding-right: 20px;
      top: 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-flex {
      background-color: #f3f3f3;
      padding: 2px 15px;
    }
  }
  .error{
    color: #ff4800;

  }
  .ng-fa-icon{
    cursor: pointer;
    &:hover{
      color: #ff4800;
    }
  }
  .dt-arrow{
    padding-right: 10px;
  }
  .active-green{
    color: #00a31b;
  }
  .ngx-datatable .datatable-body .datatable-body-row{
    border-bottom: 1px solid #ccc;
  }
  .row-detail{
    width: 100%;
    background-color: #f4f4f4;
  }
  .newRow{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
  }
  .add-row-section{
    border-bottom: none;
  }
  .ngx-datatable .datatable-body .datatable-row-wrapper:last-child{
    .datatable-body-row{border-bottom: none;}
  }
  .datatable-header{ height: 50px !important; display: flex !important; }
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell,
  .ngx-datatable .datatable-header .datatable-row-center {
    background-color: #EBEDF0;
  }
  .ngx-datatable .datatable-header .datatable-row-center {
    border-bottom: 1px solid #929497;
    border-top: 1px solid #929497;
  }
  .ngx-datatable.material{
    box-shadow: none;
  }
  .mat-flat-button.mat-primary {
    background-color: $primary;
  }

  .mat-raised-button.mat-accent {
    background-color: #f0f0f0;
  }

  .mat-table {
    background: #ffffff;

    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
      color: #333333;
    }


    tr.mat-header-row {
      background-color: #ffffff;
    }

    mat-footer-row,
    mat-header-row,
    mat-row,
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
      border-bottom-color: rgba(47, 47, 47, 0.12);
    }
  }

  .mat-tab-body {
    min-height: 400px;
  }

  .mat-tab-body-content {
    padding: 10px;
    box-sizing: border-box;
  }
  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell, .newRow > span{
    font-size: 0.75em !important;
  }

  .ngdt-arrow{
    width:20px;
    display: inline-block;
  }
  .laptop{
    .ngx-datatable.material .datatable-header .datatable-header-cell,
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell,
    .newRow .new-item, .newRow .child-item{
      padding:0.9em 0.5rem;
    }
    .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .datatable-body-cell-label{
      word-break: break-all;
    }
  }
  .container {
    // width: 1800px;
    margin: auto;
    min-height: 100%;
    overflow: auto;


    .header {
      background-color: #fff;
      border-bottom: 1px solid #ccc;
    }

    .footer {
      color: #ccc;
    }

    .content-area {
      background-color: #ffffff;

      .mat-tab-list .mat-tab-labels {
        border-bottom: 1px solid $primary;
      }

      .mat-tab-label-content {
        font-size: 16px;
      }

      .mat-tab-group.mat-primary .mat-ink-bar {
        height: 5px;
        background-color: $primary;
      }
    }

  }
  .row-action-btn{
    position: relative;
    top: -4px;
    .fa-icon{
      &:hover{
        color:rgb(250, 50, 0);
      }
      margin-bottom: -10px;
      cursor: pointer;
    }
  }

}
