<sb-grid-filter [rows]="rows" (rowsUpdate)="filterCallback($event)"></sb-grid-filter>
<!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Search filter by'
    (keyup)='updateFilter($event)' /> -->
<ngx-datatable class='material expandable' [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' (page)="paginationCallback($event)">

  <ngx-datatable-column name="Item #">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a href="javascript:void(0)" class="dt-arrow" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
        *ngIf="row.children && row.children.length > 0">
        <fa-icon [icon]="!expanded ? faCaretRight: faCaretDown"></fa-icon>
      </a> {{row?.itemPartner?.item?.itemNo}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Description" prop="itemPartner.item.itemDescription" editable="true"
    [cellClass]="'ellipsis'" [flexGrow]="2" [ngStyle]="{width: '800px'}">
  </ngx-datatable-column>
  <ngx-datatable-column name="Type" prop="itemPartner.item.itemType" editable="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="Printers" prop="itemPartner.partner.partnerCode" editable="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="Quantity" prop="quantity" editable="true"></ngx-datatable-column>
  <ngx-datatable-column name="PO #" prop="poNum" editable="true"></ngx-datatable-column>
  <ngx-datatable-column name="Job #" prop="jobNum" editable="true"></ngx-datatable-column>

  <ngx-datatable-column name="createdAt" editable="true">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <span *ngIf="!isNewRowEnabled">{{ row.createdAt | dateFormat}}</span>
      <span *ngIf="isNewRowEnabled">{{ row.createdAt }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="status" editable="true"></ngx-datatable-column>
  <!-- <ngx-datatable-column *ngFor="let col of cols" [name]="col.name" [prop]="col.prop" [resizeable]="false"
    [cellClass]="col.prop">
  </ngx-datatable-column> -->
  <ngx-datatable-column [sortable]="false">
    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <div *ngIf="row.children && row.children.length < 1">

        <span *ngIf="row.status === 'New'">
          <span class="icon mr-8" (click)="updateOrderToCancelStatus(row?.printOrderId)" matTooltip="Cancel Order"
            matTooltipPosition="above" matTooltipClass="tooltip">
            <fa-icon [icon]="faBan" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
          <span class="icon mr-8" (click)="updateOrderStatus(row?.itemPartner?.item?.itemId, 'Ordered')"
            matTooltip="Push to Printer" matTooltipPosition="above" matTooltipClass="tooltip">
            <fa-icon [icon]="faShare" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
        </span>
        <span *ngIf="row.status === 'Ordered'  || row.status === 'Push2Print'">
          <span class="" (click)="updateOrderStatus(row?.itemPartner?.item?.itemId, 'Printed')"
            matTooltip="Mark as Printed" matTooltipPosition="above" matTooltipClass="tooltip">
            <fa-icon [icon]="faPrint" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
        </span>
        <span *ngIf="row.status === 'Printed'">
          <span class="" matTooltip="Mark as Printed" matTooltipPosition="above" matTooltipClass="tooltip">
            <fa-icon [icon]="faPrint" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-row-detail #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <section *ngIf="row.children && row.children.length > 0" class="row-detail"
        [ngStyle]="{'height': row.childrenHeight+'px'}">
        <div [ngStyle]="{'position': 'absolute', 'width': '100%'}">
          <div fxLayout="row" class="newRow" fxLayoutGap="0px" *ngFor="let nrow of row.children; let i= index">

            <span class="child-item"> {{nrow.itemPartner?.item?.itemNo}}
            </span>
            <span class="child-item ellipsis description">{{nrow.itemPartner.item.itemDescription}}
            </span>
            <span class="child-item">{{nrow.itemPartner.item.itemType}}
            </span>
            <span class="child-item">{{nrow.itemPartner.partner.partnerCode}}
            </span>
            <span class="child-item">{{nrow.quantity}} </span>
            <span class="child-item">{{nrow.poNum}}</span>
            <span class="child-item">{{nrow.jobNum}} </span>

            <span class="child-item"> {{nrow.createdAt | dateFormat}}</span>
            <span class="child-item"> {{nrow.status}}</span>
            <span class="child-item">
              <span *ngIf="nrow.status === 'New'">
                <span class="icon mr-8" (click)="updateOrderToCancelStatus(nrow?.printOrderId)"
                  matTooltip="Cancel Order" matTooltipPosition="above" matTooltipClass="tooltip">
                  <fa-icon [icon]="faBan" [ngClass]="'fa-icon fs-16'"></fa-icon>
                </span>
                <span class="icon mr-8" (click)="updateOrderToPrintStatus(nrow?.printOrderId)"
                  matTooltip="Push To Printer" matTooltipPosition="above" matTooltipClass="tooltip">
                  <fa-icon [icon]="faShare" [ngClass]="'fa-icon fs-16'"></fa-icon>
                </span>
              </span>
              <span *ngIf="nrow.status === 'Ordered' || nrow.status === 'Push2Print'">
                <span class="" (click)="updateOrderStatus(nrow?.itemPartner?.item?.itemId, 'Printed')"
                  matTooltip="Mark as Printed" matTooltipPosition="above" matTooltipClass="tooltip">
                  <fa-icon [icon]="faPrint" [ngClass]="'fa-icon fs-16'"></fa-icon>
                </span>
              </span>
              <span *ngIf="nrow.status === 'MarkPrinted' || nrow.status === 'Printed'">
                <span class="icon mr-8 text-green" matTooltip="Printed" matTooltipPosition="above"
                  matTooltipClass="tooltip">
                  <fa-icon [icon]="faCheckCircle" [ngClass]="'fa-icon fs-16'"></fa-icon>
                </span>
              </span>
            </span>
          </div>
        </div>
      </section>

      <section class="new_section" *ngIf="!(row.children && row.children.length > 0)"
        [ngStyle]="{'height': row.childrenHeight+'px'}">
        <div [ngStyle]="{'position': 'absolute', 'width': '100%'}">
          <form [formGroup]="myForm">
            <div formArrayName="addRows">
              <div class="row-ab-actions">
                <span fxFlex fxLayout="row" fxLayoutGap="10px">
                  <i class="material-icons cancel-ic" (click)="cancelNewInventory()">
                    cancel
                  </i>
                  <i class="material-icons done-ic" (click)="addRowsToInventory()">
                    check_circle
                  </i>
                </span>
              </div>
              <div class="new-rows-container">

                <div class="newRow add-row-section mtb-2"
                  *ngFor="let comp of myForm.get('addRows').controls; let i=index">
                  <div [formGroupName]="i" fxLayout="row" fxLayoutGap="0px">
                    <span class="new-item">
                      <mat-select [placeholder]="'Item No'" formControlName="itemNo"
                        (selectionChange)="onItemChange($event, i)">
                        <mat-option *ngFor="let option of printItems" [value]="option.item.itemNo">
                          {{ option.item.itemNo }}
                        </mat-option>
                      </mat-select>
                    </span>
                    <span class="new-item">
                      <mat-select [placeholder]="'Item Desc'" formControlName="itemDesc"
                        (selectionChange)="onItemChange($event, i)">
                        <mat-option *ngFor="let option of printItems" [value]="option.item.itemNo">
                          {{ option.item.itemDescription }}
                        </mat-option>
                      </mat-select>
                    </span>
                    <span class="new-item">
                      {{comp.get('itemType').value}}
                    </span>
                    <!-- <input *ngFor="let partner of comp.get('partners').value" [value]="partner.itemPartnerId" /> -->
                    <span class="new-item">
                      <mat-select formControlName="partner" (selectionChange)="onPartnerChange($event, i)">
                        <mat-option *ngFor="let partner of comp.get('partners').value" [value]="partner.itemPartnerId">
                          {{ partner.partner.partnerCode }}
                        </mat-option>
                      </mat-select>
                    </span>
                    <span class="new-item">
                      <input matInput placeholder="Search Filter By" formControlName="quantity">
                    </span>
                    <span class="new-item">
                      <input matInput placeholder="Search Filter By" formControlName="poNum">
                    </span>
                    <div class="new-item">
                      <i class="material-icons red" (click)="removeCurrentRow(i)">
                        remove_circle
                      </i>
                      <i class="material-icons green" (click)="addAnotherRow()" *ngIf="i == 0">
                        add_circle </i>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>


      </section>
    </ng-template>
  </ngx-datatable-row-detail>




</ngx-datatable>
