<div class="mtb-8" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">


  <mat-form-field fxFlex="30" class="filter-input" [floatLabel]="'never'">
    <input matInput placeholder="Search Filter By" [(ngModel)]="filterVal">

    <mat-icon matPrefix class="search-icon">search</mat-icon>
    <button mat-button *ngIf="filterVal" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div fxFlex>
    <button class="apply-btn" mat-raised-button color="accent" (click)='updateFilter(filterVal)'>Apply</button>
  </div>
  <div fxFlex fxFlexAlign="center" class="text-right">
    <button mat-button> <i class="material-icons"> arrow_downward </i> Import</button>
    <button mat-button> <i class="material-icons"> arrow_upward </i> Export </button>
  </div>
</div>
<!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Search filter by'
    (keyup)='updateFilter($event)' /> -->
<ngx-datatable #table class='material expandable' [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

  <ngx-datatable-column>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a href="javascript:void(0)" class="dt-arrow" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
        *ngIf="row.children && row.children.length > 0">
        <fa-icon [icon]="!expanded ? faCaretRight: faCaretDown"></fa-icon>
      </a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Item #" prop="itemPartner.item.itemNo"></ngx-datatable-column>
  <ngx-datatable-column name="Description" prop="itemPartner.item.itemDescription" editable="true"
    headerClass="description" [cellClass]="'description ellipsis'">
  </ngx-datatable-column>
  <ngx-datatable-column name="Type" prop="itemPartner.item.itemType" editable="true" [resizeable]="false">
  </ngx-datatable-column>
  <ngx-datatable-column name="Printers" prop="itemPartner.partner.partnerType" editable="true" [resizeable]="false">
  </ngx-datatable-column>
  <ngx-datatable-column name="Quantity" prop="quantity" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column name="PO #" prop="poNum" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column name="Job #" prop="jobNum" editable="true" [resizeable]="false"></ngx-datatable-column>

  <ngx-datatable-column prop="status" editable="true" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column name="createdAt" editable="true" [resizeable]="false">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <span *ngIf="!isNewRowEnabled">{{ row.createdAt | dateFormat}}</span>
      <span *ngIf="isNewRowEnabled">{{ row.createdAt }}</span>
    </ng-template>
  </ngx-datatable-column>
  <!-- <ngx-datatable-column *ngFor="let col of cols" [name]="col.name" [prop]="col.prop" [resizeable]="false"
    [cellClass]="col.prop">
  </ngx-datatable-column> -->
  <ngx-datatable-column>
    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <div class="row-action-btn"
        *ngIf="(row.children && row.children.length < 1) && !(isNewRowEnabled && rowIndex == 0)">
        <span *ngIf="!isEditable[rowIndex]" fxLayout="row" fxLayoutGap="20px">
          <span (click)="updateRowValue($event, rowIndex)">
            <fa-icon [icon]="faPencilAlt" [ngClass]="'fa-icon fs-16'"></fa-icon>
          </span>
          <fa-icon [icon]="faTrashAlt" [ngClass]="'fa-icon  fs-16'"></fa-icon>
        </span>
        <span *ngIf="isEditable[rowIndex]" fxLayout="row" fxLayoutGap="10px">
          <span (click)="this.isEditable[rowIndex] = !this.isEditable[rowIndex]">
            <fa-icon [icon]="faWindowClose" [ngClass]="'fa-icon text-red fs-24'"></fa-icon>
          </span>
          <span (click)="updateEditedValue(rowIndex, row.waste)">
            <fa-icon [icon]="faCheckSquare" [ngClass]="'fa-icon text-blue fs-24'"></fa-icon>
          </span>
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-row-detail [rowHeight]="newRowHeight" #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <!-- <section *ngIf="row.children && row.children.length > 0">
        <div>
          <div fxLayout="row" class="newRow mtb-5" fxLayoutGap="0px" *ngFor="let nrow of row.children; let i= index">

            <span></span>
            <span> {{nrow.itemPartner.item.itemNo}}
            </span>
            <span class="ellipsis description">{{nrow.itemPartner.item.itemDescription}}
            </span>
            <span>{{nrow.itemPartner.item.itemType}}
            </span>
            <span>{{nrow.itemPartner.partner.partnerType}}
            </span>
            <span>{{nrow.recieved}} </span>
            <span>{{nrow.sflyWip}}</span>
            <span>{{nrow.collated}} </span>
            <span>
              <input class="form-control" autofocus (input)="editValUpdate($event, nrow)" *ngIf="i == editChildRowIndex"
                type="text" />
              <span *ngIf="i !== editChildRowIndex">{{nrow.waste}} </span></span>
            <span>{{nrow.overAge}} </span>
            <span>{{nrow.completed}} </span>
            <span> {{nrow.sfOnHand}}</span>
            <span> {{nrow.pOnHand}}</span>
            <span class="ellipsis"> {{nrow.updatedAt}}</span>
            <span>
              <span fxLayout="row" fxLayoutGap="20px" *ngIf="i !== editChildRowIndex">
                <span (click)="editChildrenRowClick(getRowIndex(row), i)">
                  <fa-icon [icon]="faPencilAlt" [ngClass]="'fa-icon fs-16'"></fa-icon>
                </span>
                <fa-icon [icon]="faTrashAlt" [ngClass]="'fa-icon  fs-16'"></fa-icon>
              </span>
              <span fxLayout="row" fxLayoutGap="10px" *ngIf="i == editChildRowIndex">
                <span (click)="cancelChildRowClick(getRowIndex(row), i, nrow)">
                  <fa-icon [icon]="faWindowClose" [ngClass]="'fa-icon text-red fs-24'"></fa-icon>
                </span>
                <span (click)="updateEditedChildRowValue(getRowIndex(row), i, nrow.waste)">
                  <fa-icon [icon]="faCheckSquare" [ngClass]="'fa-icon text-blue fs-24'"></fa-icon>
                </span>
              </span>

            </span>
          </div>
        </div>
      </section> -->

      <section class="new_section" *ngIf="!(row.children && row.children.length > 0)">
        <form [formGroup]="myForm">
          <div formArrayName="addRows">
            <div class="row-ab-actions">
              <span fxFlex fxLayout="row" fxLayoutGap="10px">
                <i class="material-icons cancel-ic" (click)="cancelNewInventory()">
                  cancel
                </i>
                <i class="material-icons done-ic" (click)="addRowsToInventory()">
                  check_circle
                </i>
              </span>
            </div>
            <pre>zgfasgasg -{{myForm.get('addRows').controls}}</pre>
            <div fxLayout="row" class="newRow add-row-section mtb-10" fxLayoutGap="0px"
              *ngFor="let comp of myForm.get('addRows').controls; let i=index">
              <div [formGroupName]="i">
                <span fxFlex="70px"></span>
                <span fxFlex="100px">
                  <mat-select [placeholder]="'Item No'" formControlName="itemNo"
                    (selectionChange)="onItemChange($event, i)">
                    <mat-option *ngFor="let option of inventoryItems" [value]="option.itemId">{{ option.itemNo }}
                    </mat-option>
                  </mat-select>
                </span>
                <span fxFlex="220px" class="description">
                  <mat-select [placeholder]="'Item Desc'" formControlName="itemDesc"
                    (selectionChange)="onItemChange($event, i)">
                    <mat-option *ngFor="let option of inventoryItems" [value]="option.itemId">
                      {{ option.itemDescription }}
                    </mat-option>
                  </mat-select>
                </span>
                <span fxFlex="95px">
                  {{comp.get('itemType').value}}
                </span>
                <span fxFlex="100px">
                  <mat-select formControlName="partner" (selectionChange)="onPartnerChange($event, i)">
                    <mat-option *ngFor="let partner of partners" [value]="partner.partnerId">{{ partner.partnerCode }}
                    </mat-option>
                  </mat-select>
                </span>
                <span fxFlex="50px"> </span>
                <div fxFlex="112px" fxLayout="row" fxLayoutGap="10px">
                  <i class="material-icons red" (click)="removeCurrentRow(i)">
                    remove_circle
                  </i>
                  <i class="material-icons green" (click)="addAnotherRow()" *ngIf="i == 0">
                    add_circle </i>

                </div>
                <span fxFlex="112px"> </span>
                <span fxFlex="112px"> </span>
                <span fxFlex="112px"> </span>
              </div>
            </div>
          </div>
        </form>


      </section>
    </ng-template>
  </ngx-datatable-row-detail>




</ngx-datatable>
