/* You can add global styles to this file, and also import other style files */
@import './themes/shutter-business-varibles';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import './themes/font-face.scss';

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@mixin font-size($size) {
  font-size: $size;
}

html,
body {
  height: 100%;

}

body {
  margin: 0;
}
body *{
  font-family: "Avenir-Roman",  sans-serif;
}
.text {
  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }
}

/*!
     *   FONT SIZE AND VARIABLES
     */
$font-class: fs !default;

@for $i from 11 through 40 {
  .#{$font-class}-#{$i} {
    font-size: $i +px;
  }
}

/*!
      *   Line height
      */
@for $i from 11 through 40 {
  .lh-#{$i} {
    line-height: $i +px;
  }
}

/*!
      *   FONT WEIGHT variables
      */
$fw-medium: 500;
$fw-light: 400;
$fw-bold: 900;
$fw-normal: normal; //FONT WEIGHT CLASSES (e.g. class="fw-light")

.fw {
  &-300 {
    font-weight: 300;
  }

  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: $fw-500;
  }

  &-600 {
    font-weight: $fw-600;
  }

  &-bold {
    font-weight: $fw-bold;
  }

  &-light {
    font-weight: $fw-light;
  }

  &-normal {
    font-weight: $fw-normal;
  }
}

.orange-bg {
  background-color: $primary;
}

.orange-txt {
  color: $primary;
}

/*!
     *  BORDER RADIUS
     */
@for $i from 1 through 10 {
  .border-radius-#{$i*5} {
    border-radius: #{$i*5}px;
  }

  .border-radius-tb-#{$i*5} {
    border-radius: #{$i*5}px #{$i*5}px 0 0;
  }

  .border-radius-lr-#{$i*5} {
    border-radius: 0 0 #{$i*5}px #{$i*5}px;
  }
}

/*!
   *   WIDTH variables
   */
/*!
  * Width in pixels e.g. w-1 to w-40
  */
@for $i from 1 through 20 {
  .w-#{$i*2} {
    width: #{$i*2}px;
  }
}

/*!
  * HEIGHT in pixels e.g. h-2 to h-40
  */
@for $i from 1 through 20 {
  .h-#{$i*2} {
    height: #{$i*2}px;
  }
}

/*!
    * Width and Height in pixels e.g. wh-1 to wh-24
    * width height value like 12px 12px...
    */
@for $i from 1 through 24 {
  .wh-#{$i*2} {
    width: #{$i*2}px;
    height: #{$i*2}px;
  }
}

/*!
   * Column Width in pecentage e.g. wp-1 to wp-12
   * width value like 8.33%, 33.33%, 25%...
  **/
@for $value from 1 through 12 {
  $col: percentage($value/12);

  .col-#{$value} {
    width: $col;
  }
}

/*!
    *   Padding styles....
    *  e.g. class="padding-0" or padding-left-15, padding-top-10 etc...
   **/
@for $i from 0 through 40 {
  .p-#{$i} {
    padding: ($i)+px !important;
  }

  .pl-#{$i} {
    padding-left: ($i)+px !important;
  }

  .pr-#{$i} {
    padding-right: ($i)+px  !important;
  }

  .pb-#{$i} {
    padding-bottom: ($i)+px !important;
  }

  .pt-#{$i} {
    padding-top: ($i)+px !important;
  }

  .ptb-#{$i} {
    padding-top: ($i)+px !important;
    padding-bottom: ($i)+px !important;
  }

  .plr-#{$i} {
    padding-left: ($i)+px !important;
    padding-right: ($i)+px !important;
  }
}

/*!
    *   Margin styles....
    *  e.g. class="margin-0" or margin-left-15, margin-top-10 etc...
   **/
@for $i from 1 through 30 {
  .m-#{$i} {
    margin: ($i*2)+px !important;
  }

  .ml-#{$i} {
    margin-left: ($i*2)+px !important;
  }

  .mr-#{$i} {
    margin-right: ($i*2)+px !important;
  }

  .mlr-#{$i} {
    margin-left: ($i*2)+px !important;
    margin-right: ($i*2)+px !important;
  }

  .mt-#{$i} {
    margin-top: ($i*2)+px !important;
  }

  .mb-#{$i} {
    margin-bottom: ($i*2)+px !important;
  }

  .mtb-#{$i} {
    margin-top: ($i*2)+px !important;
    margin-bottom: ($i*2)+px !important;
  }
}

/*!
   * FLOAT AND POSITION
   */
.pull {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }

  &-clear {
    clear: both;
  }
}

.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-capitalise {
    text-transform: capitalize;
  }
}

.border {
  &-none {
    border: none !important;
  }

  &-top {
    border-top: 1px solid #CCC;
  }

  &-bottom {
    border-bottom: 1px solid #CCC;
  }

  &-left {
    border-left: 1px solid #CCC;
  }

  &-right {
    border-right: 1px solid #CCC;
  }
}
.text{
  &-red{
    &:hover{
      color:rgb(146, 0, 0);
    }
    color:red;
  }
  &-green{
    &:hover{
      color:rgb(0, 92, 31);
    }
    color:rgb(0, 170, 65);
  }
  &-blue{
    &:hover{
      color:rgb(2, 0, 107);
    }
    color:rgb(0, 109, 233);
  }
}
.pabsoulte {
  position: absolute;
}

.prelative {
  position: relative;
}

.category-footer-shadow {
  box-shadow: 0 -3px 19px -10px $black inset;
}

.margin-auto {
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
.capitalize{
  text-transform: capitalize;
}
.mat-select-disabled .mat-select-value {
  color: rgba(163, 163, 163, 0.5);
}
.mat-select{
  padding: 10px !important;
  background-color: #ececec;
  &.mat-select-disabled{
    border: none;
    background-color: #fcfcfc;

  }
}
  .mat-input-element:disabled{
    color: #b9b9b9;
    background-color: #e1e1e1 !important;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
  }
.error{
  font-size: 12px;
}
.newRow, .ngx-datatable {
  .mat-input-element {
      padding: 10px !important;
      background-color: #f7f7f7;
      position: relative;
      border: 1px solid #e2e2e2;
      top: 0;
      &.error{
        background-color: #ffe3e3;
        border: 1px solid #ffb4aa;
      }
  }
  .mat-select{
      padding: 10px !important;
      background-color: #f7f7f7;
      border: 1px solid #e2e2e2;
      &.error{
        background-color: #ffe3e3;
        border: 1px solid #ffb4aa;
      }
      &.mat-select-disabled{
        border: none;
        background-color:#e1e1e1 !important;
        .mat-select-placeholder{
          color:#bcbcbc;
        }

      }
  }
}

.mat-form-field-appearance-legacy {
  .mat-form-field-underline {
    background-color: #333333;
  }

  .mat-form-field-ripple {
    background-color: #333333;
  }
}
.material-icons{
    &:hover{
      color:#333333 !important;
      cursor: pointer;
    }

}
.mat-form-field-appearance-legacy .mat-form-field-label,
.mat-select-value,
.mat-select-arrow,
.mat-tab-label,
.mat-tab-link {
  color: #333333;
  text-overflow: initial;
}
.selectbox1 {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("http://2.bp.blogspot.com/-T3aZyed1Ql8/VFHNFmecaTI/AAAAAAAACqI/BlgRLXWKvPs/s1600/ic_arrow_drop_down_48px-32.png") no-repeat 90% 50%;
box-shadow:0px 0px 5px #ccc;
}

.selectbox1 select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;

}
.icon{
  cursor: pointer;
  &:hover{
    color: #F05323;
  }
}
.selectbox1 select:focus {
  outline: none;
}

.confirm-dialog .mat-dialog-container{
  background-color: #fff;
  color: #333333;
  h1{
    color:#58595b;
    font-family: "Avenir-Roman";
    font-size: 20px;
  }
  p{
    font-size: 14px;
    color: #444444;
  }
  button{
    text-transform: uppercase;
  }
  button.yes-btn{
    background-color: #F05323;
  }
  button.no-btn{
    background-color: #fafafa;
    color: #333333;
  }
  .mat-dialog-actions{
    margin-top: 10px;
    border-top: 1px solid #ececec;
    justify-content: flex-end;
  }

}
.mat-tooltip.tooltip{
  background-color: #fff !important;
  color: #333333 !important;
  margin: 5px !important;
  font-size: 14px !important;
  border: 1px solid #ccc;
  max-width: 860px;
}

.row-ab-actions {
  position: absolute;
  right: 20px;

  i {
    font-size: 36px;

    &:hover {
      cursor: pointer;
    }
  }

  .cancel-ic {
    color: #353535;

    &:hover {
      color: #6e0000;
    }
  }

  .done-ic {
    color: #f51d00;

    &:hover {
      color: #e20057;
    }
  }
}
