<section class="new_section" *ngIf="!(row.children && row.children.length > 0)"
  [ngStyle]="{'height': row.childrenHeight+'px'}">
  <div [ngStyle]="{'position': 'absolute', 'width': '100%'}">
    <form [formGroup]="myForm">
      <div formArrayName="addRows">
        <div class="row-ab-actions">
          <span fxFlex fxLayout="row" fxLayoutGap="10px">
            <i class="material-icons cancel-ic" (click)="cancelNewInventory()">
              cancel
            </i>
            <i class="material-icons done-ic" (click)="addRowsToPrinter()">
              check_circle
            </i>
          </span>
        </div>
        <div class="new-rows-container">

          <div class="newRow add-row-section mtb-2" *ngFor="let comp of myForm.get('addRows').controls; let i=index">
            <div [formGroupName]="i" fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="start">
              <span class="new-item" [fxFlexAlign]="'center'">
                <mat-select [placeholder]="'Item No'" formControlName="itemNo"
                  [ngClass]="{'error': comp.get('itemNo').touched && comp.get('itemNo').invalid}"
                  (selectionChange)="onItemChange($event, i)">
                  <mat-option *ngFor="let option of printItems" [value]="option?.item?.itemNo">
                    {{ option?.item?.itemNo }}
                  </mat-option>
                </mat-select>
                <p class="error pabsoulte mt-5" *ngIf="comp.get('itemNo').touched && comp.get('itemNo').invalid">
                  Please enter ItemNo
                </p>
              </span>
              <span class="new-item" [fxFlexAlign]="'center'">
                <mat-select [placeholder]="'Item Desc'" formControlName="itemDesc"
                  [ngClass]="{'error': comp.get('itemDesc').touched && comp.get('itemDesc').invalid}"
                  (selectionChange)="onItemChange($event, i)">
                  <mat-option *ngFor="let option of printItems" [value]="option?.item?.itemNo">
                    {{ option?.item?.itemDescription }}
                  </mat-option>
                </mat-select>
                <p class="error pabsoulte mt-5" *ngIf="comp.get('itemDesc').touched && comp.get('itemDesc').invalid">
                  Please enter item Description
                </p>
              </span>
              <span class="new-item" [fxFlexAlign]="'center'">
                {{comp.get('itemType').value}}
              </span>
              <!-- <input *ngFor="let partner of comp.get('partners').value" [value]="partner.itemPartnerId" /> -->
              <span class="new-item" [fxFlexAlign]="'center'">
                <mat-select formControlName="partner" (selectionChange)="onPartnerChange($event, i)"
                  [ngClass]="{'error': comp.get('partner').touched && comp.get('partner').invalid}">
                  <mat-option *ngFor="let partner of comp.get('partners').value" [value]="partner.itemPartnerId">
                    {{ partner?.partner?.partnerCode }}
                  </mat-option>
                </mat-select>
                <p class="error pabsoulte mt-5" *ngIf="comp.get('partner').touched && comp.get('partner').invalid">
                  Please enter Partner
                </p>
              </span>
              <span class="new-item" [fxFlexAlign]="'center'">
                <input matInput type="number" placeholder="Quantity" formControlName="quantity"
                  [ngClass]="{'error': comp.get('quantity').touched && comp.get('quantity').invalid}">
                <p class="error pabsoulte mt-5" *ngIf="comp.get('quantity').touched && comp.get('quantity').invalid">
                  Please enter Quantity
                </p>
              </span>
              <span class="new-item" [fxFlexAlign]="'center'">
                <input matInput placeholder="PO Num" formControlName="poNum"
                  [ngClass]="{'error': comp.get('poNum').touched && comp.get('poNum').invalid}">
                <p class="error pabsoulte mt-5" *ngIf="comp.get('poNum').touched && comp.get('poNum').invalid">
                  Please enter PO Number
                </p>
              </span>
              <div class="new-item" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start">
                <i class="material-icons red" (click)="removeCurrentRow(i)" [fxFlexAlign]="'center'">
                  remove_circle
                </i>
                <i class="material-icons green" (click)="addAnotherRow()" *ngIf="i == 0" [fxFlexAlign]="'center'">
                  add_circle </i>

              </div>

              <span class="new-item" [fxFlexAlign]="'center'"></span>
              <span class="new-item" [fxFlexAlign]="'center'"></span>
              <span class="new-item" [fxFlexAlign]="'center'"></span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


</section>
