<div class="mtb-8" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">


  <mat-form-field fxFlex="30" class="filter-input" [floatLabel]="'never'">
    <input matInput placeholder="Search Filter By" [(ngModel)]="filterVal">

    <mat-icon matPrefix class="search-icon">search</mat-icon>
    <button mat-button *ngIf="filterVal" matSuffix mat-icon-button aria-label="Clear" (click)="cleaFilterInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div fxFlex>
    <button class="apply-btn" mat-raised-button color="accent" (click)='updateFilter(filterVal)'>Apply</button>
  </div>
  <div fxFlex fxFlexAlign="center" class="text-right">
    <button mat-button> <i class="material-icons"> arrow_downward </i> Import</button>
    <button mat-button> <i class="material-icons"> arrow_upward </i> Export </button>
  </div>
</div>
<!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Search filter by'
    (keyup)='updateFilter($event)' /> -->
<ngx-datatable #table class='material expandable' [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

  <!-- <ngx-datatable-column [sortable]="false" [flexGrow]="0.5">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a href="javascript:void(0)" class="dt-arrow" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
        *ngIf="row.children && row.children.length > 0">
        <fa-icon [icon]="!expanded ? faCaretRight: faCaretDown"></fa-icon>
      </a>
    </ng-template>
  </ngx-datatable-column> -->
  <ngx-datatable-column name="ItemNo#">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <!-- <pre>{{row |json}}</pre> -->
      <a href="javascript:void(0)" class="dt-arrow" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
        *ngIf="row.children && row.children.length > 0">
        <fa-icon [icon]="!expanded ? faCaretRight: faCaretDown"></fa-icon>
      </a> {{row?.itemPartner?.item?.itemNo}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="description" prop="itemPartner.item.itemDescription" editable="true"
    [cellClass]="'ellipsis'">
  </ngx-datatable-column>
  <ngx-datatable-column name="Type" prop="itemPartner.item.itemType" editable="true">
  </ngx-datatable-column>
  <ngx-datatable-column name="Assembler" prop="itemPartner.partner.partnerType" editable="true">
  </ngx-datatable-column>
  <ngx-datatable-column prop="quantity" editable="true"></ngx-datatable-column>
  <ngx-datatable-column prop="release" editable="true"></ngx-datatable-column>

  <ngx-datatable-column name="Created" editable="true">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <span *ngIf="!isNewRowEnabled">{{ row.createdAt | dateFormat}}</span>
      <span *ngIf="isNewRowEnabled">{{ row.createdAt }}</span>
    </ng-template>
  </ngx-datatable-column>
  <!-- <ngx-datatable-column *ngFor="let col of cols" [name]="col.name" [prop]="col.prop" [resizeable]="false"
    [cellClass]="col.prop">
  </ngx-datatable-column> -->
  <ngx-datatable-column prop="status" editable="true"></ngx-datatable-column>

  <ngx-datatable-column [sortable]="false">
    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <div class="row-action-btn"
        *ngIf="row.children && row.children.length == 0 && row.status === OrdersState.MARKPRINTED">
        <span (click)="updateRowValue($event, rowIndex)">
          <fa-icon [icon]="faShare" [ngClass]="'fa-icon fs-16'"></fa-icon>
        </span>

      </div>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-row-detail [rowHeight]="newRowHeight" #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template let-rowIndex="rowIndex">
      <section *ngIf="row.children && row.children.length > 0" class="row-detail" style="position: absolute">
        <div>
          <div class="newRow" *ngFor="let nrow of row.children; let i= index" fxLayout="row" fxLayoutGap="0px">
            <span class="child-item"> {{nrow.itemPartner.item.itemNo}}
            </span>
            <span class="child-item ellipsis description">{{nrow.itemPartner.item.itemDescription}}
            </span>
            <span class="child-item">{{nrow.itemPartner.item.itemType}}
            </span>
            <span class="child-item">{{nrow.itemPartner.partner.partnerType}}
            </span>
            <span class="child-item">{{nrow.quantity}} </span>
            <span class="child-item">{{nrow.release}}</span>
            <span class="child-item ellipsis"> {{nrow.createdAt | dateFormat}}</span>
            <span class="child-item">{{nrow.status}}</span>

            <span class="child-item">
              <span (click)="updateOrderStatus(nrow.itemPartner.item.itemId, 'PushPrint')"
                *ngIf="nrow.status === OrdersState.PENDINGRELEASE" matTooltip="Release to Assemblers"
                matTooltipPosition="above" matTooltipClass="tooltip">
                <fa-icon [icon]="faShare" [ngClass]="'fa-icon fs-16'"></fa-icon>
              </span>
              <span class="active-green" (click)="updateOrderStatus(nrow.itemPartner.item.itemId, 'Printed')"
                *ngIf="nrow.status === OrdersState.MARKPRINTED">
                <fa-icon [icon]="faCheckCircle" [ngClass]="'fa-icon fs-16'"></fa-icon>
              </span>

            </span>
          </div>
        </div>
      </section>

    </ng-template>
  </ngx-datatable-row-detail>
</ngx-datatable>
